/* fork me : https://github.com/matafa/iran-Developeri */
div.developer{
	background-image: url('images/matn/dev.png');
	background-repeat: no-repeat;
	height: 40px;
	margin-top: 100px;
	width: 168px;
}
div.developer:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.myblog:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.galery:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.mobile:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.product:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.contact:hover{
	opacity:0.70;
	filter:alpha(opacity=70);
}
header div.myblog{
	background-image: url('images/icon/blog.png');
	height: 29px;
	background-repeat: no-repeat;
	width: 24px;
	margin-top: 130px;
}
header div.galery{
	background-image: url('images/icon/mygalery.png');
	height: 33px;
	background-repeat: no-repeat;
	width: 39px;
	margin-top: 50px;
}
header div.mobile{
	background-image: url('images/icon/mobile.png');
	height: 33px;
	background-repeat: no-repeat;
	width: 39px;
	margin-top: 50px;
}
header div.product{
	background-image: url('images/icon/myproduct.png');
	height: 28px;
	width: 31px;
	background-repeat: no-repeat;
}
header div.contact{
	background-image: url('images/icon/contact.png');
	height: 33px;
	background-repeat: no-repeat;
	width: 39px;
}
header div.soratsanj{
	background-image: url('images/speed/speed.png');
	height: 253px;
	background-repeat: no-repeat;
	width: 250px;
}
header div.soratsanj div.aghrabe{
	background-image: url('images/speed/aghrabe.png');
	background-repeat: no-repeat;
	height: 236px;
	width: 80px;
	margin-top: 15px;
	margin-left: 87px;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
div.mali{
	background-image: url('images/matn/moh.png');
	height: 113px;
	background-repeat: no-repeat;
	width: 98px;
	margin-left: 155px;
	margin-top: -120px;
}
header div a{
	display     : block;
	padding     : 20px 20px 10px;
	font-family : "Times New Roman", Times, serif;
	font-size   : 18px;
	text-transform  : capitalize;
	text-decoration : none;
	position:absolute;
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-o-transition:all 1s;
	-ms-transition:all 1s;
}
div.developer a{
	display     : block;
	padding     : 20px 90px 20px;
	font-family : "Times New Roman", Times, serif;
	font-size   : 18px;
	text-transform  : capitalize;
	text-decoration : none;
	position:absolute;
	-webkit-transition:all 1s;
}
*{
	transition:width 1s, all 1s;
	-moz-transition:width 1s, all 1s, -moz-transform 1s; /* Firefox 4 */
	-webkit-transition:width 1s, all 1s, -webkit-transform 1s; /* Safari and Chrome */
	-o-transition:width 1s, all 1s, -o-transform 1s; /* Opera */
}
a:hover{
	
}
body{
		background-image: url('images/backimg.jpg');
	background-repeat: no-repeat;


}
div.backimg {
	background-image: url('images/backimg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -2;
}
p{
	
}
